:root {
  --primary-color-orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: var(--very-dark-blue);
  font-family: "Overpass", sans-serif;
  box-sizing: border-box;
  font-size: 15px;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
}
/* Main CSS */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rate,
.result {
  width: 415px;
  height: 415px;
  border-radius: 20px;
  background-color: var(--dark-blue);
  padding: 30px 35px;
  display: flex;
  flex-direction: column;
}
.rate__start {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303e4b;
  border-radius: 100rem;
}
.rate__title {
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  margin-top: 35px;
  margin-bottom: 20px;
}
.rate__text {
  color: var(--light-grey);
  line-height: 25px;
}
.rate__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.rate__number {
  width: 50px;
  height: 50px;
  font-weight: 700;
  background-color: #303e4b;
  color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  cursor: pointer;
  transition: ease 0.3s;
}
.rate__number--active {
  background-color: var(--primary-color-orange);
  color: var(--white);
}
.rate__number:hover {
  background-color: var(--medium);
  color: var(--white);
}
.rate__btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 100rem;
  color: var(--white);
  background-color: var(--primary-color-orange);
  cursor: pointer;
}
.rate__btn-submit:hover {
  transition: 0.3s linear;
  color: var(--primary-color-orange);
  background-color: var(--white);
}
/* Result */
.result {
  align-items: center;
  justify-content: center;
}
.result__image {
  width: 180px;
  height: 120px;
}
.result__selected {
  width: auto;
  height: auto;
  color: var(--primary-color-orange);
  background-color: #303e4b;
  margin: 30px 0;
  padding: 10px 20px;
  border-radius: 100rem;
}
.result__title {
  font-size: 26px;
  margin-bottom: 20px;
  color: var(--white);
}
.result__content {
  color: var(--light-grey);
  line-height: 25px;
  text-align: center;
}
