:root {
  -primary-color-orange: var(hsl(25, 97%, 53%));
  -white: hsl(0, 0%, 100%);
  -light-grey: hsl(217, 12%, 63%);
  -medium: hsl(216, 12%, 54%);
  -dark-bBlue: hsl(213, 19%, 18%);
  -very-dark-blue: hsl(216, 12%, 8%);
}

/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #eef5ff;
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
  font-size: 15px;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: none;
}
/* Main CSS */
.container{

}
.rate{

}
.rate__start{

}
.rate__title{

}
.rate__text{

}
.rate__select{

}
.rate__number{

}
.rate__btn-submit{

}
.result{

}
.result__image{

}
.result__selected{

}
.result__title{

}
.result__content{

}